<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn1</servlet-name>
        <servlet-class>JavaPacakge.LogIn1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyLogIn</servlet-name>
        <servlet-class>JavaPacakge.FacultyLogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterCourse</servlet-name>
        <servlet-class>JavaPacakge.EnterCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin1</servlet-name>
        <servlet-class>JavaPacakge.AdminLogin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReg</servlet-name>
        <servlet-class>JavaPacakge.CreateReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Export</servlet-name>
        <servlet-class>JavaPacakge.Export</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Already_Registered</servlet-name>
        <servlet-class>Already_Registered</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Already_Registered1</servlet-name>
        <servlet-class>JavaPacakge.Already_Registered1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseFormSubmit</servlet-name>
        <servlet-class>QOBE.CourseFormSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseFormSubmit1</servlet-name>
        <servlet-class>JavaPacakge.CourseFormSubmit1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddActivity</servlet-name>
        <servlet-class>QOBE.AddActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test1</servlet-name>
        <servlet-class>QOBE.test1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importActivity1</servlet-name>
        <servlet-class>QOBE.importActivity1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testing</servlet-name>
        <servlet-class>testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordSet</servlet-name>
        <servlet-class>JavaPacakge.PasswordSet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setAttendance</servlet-name>
        <servlet-class>QOBE.setAttendance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn1</servlet-name>
        <url-pattern>/LogIn1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterCourse</servlet-name>
        <url-pattern>/EnterCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin1</servlet-name>
        <url-pattern>/AdminLogin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReg</servlet-name>
        <url-pattern>/CreateReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Export</servlet-name>
        <url-pattern>/Export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Already_Registered</servlet-name>
        <url-pattern>/Already_Registered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Already_Registered1</servlet-name>
        <url-pattern>/Already_Registered1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseFormSubmit</servlet-name>
        <url-pattern>/CourseFormSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseFormSubmit1</servlet-name>
        <url-pattern>/CourseFormSubmit1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddActivity</servlet-name>
        <url-pattern>/AddActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test1</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importActivity1</servlet-name>
        <url-pattern>/importActivity1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testing</servlet-name>
        <url-pattern>/testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordSet</servlet-name>
        <url-pattern>/PasswordSet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyLogIn</servlet-name>
        <url-pattern>/FacultyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setAttendance</servlet-name>
        <url-pattern>/setAttendance</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
